body {
	background: white;
}

table {
	border-collapse: collapse;
	border: solid thick;
	empty-cells: show;
}

tbody {
	border: solid medium;
}

td {
	/*border: solid thin;*/
	height: 1.4em;
	width: 15%; 
    text-align: center;
    padding: 0;
}


th {
	background: white;
	font-family: bold;
}

td:first-child{
	font-style: italic;
}

tr:nth-child(odd) {
	background: lightgreen;
}

tr:nth-child(even) {
	background: lightblue;
}

tr#trfooter{
	background: white;
}

td#tdfooter1, td#tdfooter2{
	font-style: normal;
	color: black;
	border: solid thin;
}

td:nth-child(2){
	color: red;
}

td:nth-child(4){
	color: blue;
}

dt:hover+dd{
	background-color: purple;
}

div.foo {
	background: blue;
}

div.foo:hover {
	background: green;
}

div.foo.bar {
	background: red;
}

div#baz {
	background: yellow;
}

a:visited {
	color:green;
}

a:link {
	color: violet;
}

a:focus {
	color: red;
}

a:nth-child(2) {
	color: brown;
}