table {
	border-collapse: collapse;
	border: solid thick;
	empty-cells: show;
}

colgroup, tbody {
	border: solid medium;
}


td {
	/*border: solid thin;*/
	height: 1.4em;
	width: 15%; 
    text-align: center;
    padding: 0;
}

th {
	background: white;
}

div#foot{
	background: white;
}

tr:nth-child(odd) {
	background: lightgreen;
}

tr:nth-child(even) {
	background: lightblue;
}

td:first-child{
	font-style: italic;
}

td:nth-child(2){
	color: red;
}

td:nth-child(4){
	color: blue;
}



div.foo {
	background: blue;
}

div.foo:hover {
	background: green;
}

div.foo.bar {
	background: red;
}

div#baz {
	background: yellow;
}

a:visited {
	color:green;
}

a:link {
	color: violet;
}

a:focus {
	color: red;
}

a:nth-child(2) {
	color: brown;
}